.tile-container {
  /* display: inline-flex; */
  /* flex-direction: column; */
  /* text-align: center; */
  background-color: #f5f3f5;
  border-radius: 5%;
  width: 20%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* padding-left: 1%; */
  margin-top: 1%;
  border-style: solid;
  border-color: #054a29;
  border-width: 2px;
  box-shadow: 2px 4px 8px 0px #054a29;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.tile-text {
  color: #054a29;
}
