* {
  padding: 0;
  margin: 0;
  /* outline: none; */
  border: none;
  box-sizing: border-box;
  /* overflow-y: clip; */
  /* overflow-x: hidden; */
}

html,
body {
  height: 100vh;
  width: 100vw;
}

.heading {
  color: #fadf63 !important;
}

.colors {
  color: #e98a15;
  color: #fedd16;
  color: #3c0000;
}
